
<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
  <p>
    Ryan Leary <%= link_to 'Github repo for this project','https://github.com/rtleary2/flix' %>
  </p>
</footer>